@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@section Styles {
    <link rel="stylesheet" href="~/css/login_style.css" asp-append-version="true" />
}

<div class="container d-flex justify-content-center align-items-center mt-5 mb-5">
    <div class="card shadow-sm border-0 custom-userbook-card" style="max-width: 500px; width: 100%;">

        <div class="card-header py-4 text-center login-card-header">
            <h1 class="fs-4 mb-2 fw-bold">@ViewData["Title"]</h1>
            <h2 class="fs-6 mb-0 text-white-50">Enter your email.</h2>
        </div>

        <div class="card-body p-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                <div class="form-floating mb-4">
                    <input asp-for="Input.Email" class="form-control custom-form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger small"></span>
                </div>

                <button type="submit" class="w-100 btn btn-lg btn-login-submit">Reset Password</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}