@{
    ViewData["Title"] = "My Profile";
}
<div class="container mt-5">
    <h2 style="color: #2d4a43;">Mój Profil Książkary</h2>
    <p>Tutaj pojawią się Twoje dane statystyczne i przeczytane książki!</p>
</div>